footer.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    padding: 16px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05)
}

footer.results-container > *{
    width: min(90%, 70%);
}

footer.results-container > *:not(:last-child){
    margin-bottom: 12px;
}

footer.results-container ul{
    display: flex;
    justify-content: center;
}

footer.results-container ul li:not(:last-child){
    margin-right: 6px;
}

footer.results-container .restart-btn{
    max-width: 300px;
    padding: .5em 1em;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: white;
    background-color: #FB6B6B;
    cursor: pointer;
}

.restart-btn:active{
    transform: translate(2px, 2px);
}