strong{
    font-weight: bold;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

main.start-screen{
    justify-content: center;
}

main.start-screen > *:not(:last-child){
    margin-bottom: 1em;
}

ol {
    width: min(80%, 550px);
    height: calc(100vh - 250px);
    overflow-y: auto;
}

ol li{
    margin: 0 auto;
    border-radius: 5px;
}

ol li:not(:last-child){
    margin-bottom: 1em;
}

ol li:not(.card), ol li > div{
    width: 95%;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

h1.logo-text{
    font-size: 48px;
    font-family: 'Righteous', cursive;
    color: white;
}

.start-btn, input, select{
    width: min(250px, 80%);
    font-size: 18px;
    border-radius: 5px;
}

input, select{
    font-size: 14px;
    padding: 1em 0 1em 1em;
    border: none;
}

select{
    background-color: white;
    padding: 1em;
}

option[value="placeholder"]{
    color: #adadad;
}

.start-btn{
    padding: 1em 2em;
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
    cursor: pointer;
}

.start-btn:active{
    transform: translate(2px, 2px)
}