main{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

ol {
    width: min(80%, 550px);
}

ol li{
    border-radius: 5px;
    margin-bottom: 1em;
}

ol li:not(.card), ol li > div{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}