ol li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: white;
    word-break: break-all;
    counter-increment: questionIndex;
}

li.bad, li.ok, li.good{
    text-decoration: line-through;
    pointer-events: none;
}

li.bad{
    color: var(--secondary-red);
}

li.ok{
    color: var(--primary-orange)
}

li.good{
    color: var(--primary-green)
}

li span{
    line-height: 40px;
}

li span:after{
    content: counter(questionIndex);
    margin-left: .5ch;
}

li svg{
    position: relative;
}